<div class="container max-w-4xl mx-auto py-8">
  <section class="mb-32 text-gray-800">
    <div class="space-y-2 text-center">
      <h1 class="text-4xl font-bold">Projects</h1>
      <p class="font-serif text-sm dark:text-gray-400">A list of all our favorite projects!</p>
    </div>
  </section>

  <%= render @projects %>
</div>
